<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.mapper.PcsMapper">

    <select id="selectList" resultType="com.example.cloud.model.Pcs">
        select
        id,
        pointId,
        equipmentId,
        TotW as totW,
        TotVar as totVar,
        PPV_phsAB as ppvPhsAb,
        PPV_phsBC as ppvPhsBc,
        PPV_phsCA as ppvPhsCa,
        PhV_phsA as phVPhsA,
        PhV_phsB as phVPhsB,
        PhV_phsC as phVPhsC,
        A_phsA as aPhsA,
        A_phsB as aPhsB,
        A_phsC as aPhsC,
        TotPF as totPf,
        Fre as fre,
        PhV_DC as phVDc,
        A_DC as aDc,
        AbleMaxTotCH as ableMaxTotCh,
        AbleMaxToDi as ableMaxToDi,
        CharCapDay as charCapDay,
        DiscCapDay as discCapDay,
        ACSwitchStatus as acSwitchStatus,
        DCSwitchStatus as dcSwitchStatus,
        RunStatus as runStatus,
        CharStatus as charStatus,
        AccumulatedChargeCap as accumulatedChargeCap,
        AccumulatedDischargeCap as accumulatedDischargeCap
        from pcs
    </select>

    <select id="faultCounts" resultType="com.example.cloud.model.Pcs">
        select
        count(*) as totalCounts,
        count(
        case
        when totFault = 1 then
        1
        end
        ) as faultCounts
        from
        pcs
    </select>

    <select id="selectPcsListByPointId" parameterType="java.lang.Integer" resultType="com.example.cloud.model.Pcs">
        select
        id,
        pointId,
        equipmentId,
        TotW as totW,
        TotVar as totVar,
        PPV_phsAB as ppvPhsAb,
        PPV_phsBC as ppvPhsBc,
        PPV_phsCA as ppvPhsCa,
        PhV_phsA as phVPhsA,
        PhV_phsB as phVPhsB,
        PhV_phsC as phVPhsC,
        A_phsA as aPhsA,
        A_phsB as aPhsB,
        A_phsC as aPhsC,
        TotPF as totPf,
        Fre as fre,
        PhV_DC as phVDc,
        A_DC as aDc,
        AbleMaxTotCH as ableMaxTotCh,
        AbleMaxToDi as ableMaxToDi,
        CharCapDay as charCapDay,
        DiscCapDay as discCapDay,
        ACSwitchStatus as acSwitchStatus,
        DCSwitchStatus as dcSwitchStatus,
        RunStatus as runStatus,
        CharStatus as charStatus,
        AccumulatedChargeCap as accumulatedChargeCap,
        AccumulatedDischargeCap as accumulatedDischargeCap
        from pcs
        where pointId = #{pointId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete
        from pcs
        where id =  #{id}
    </delete>

    <delete id="deleteByPointId" parameterType="java.lang.Integer" >
        delete
        from pcs
        where pointId =  #{id}
    </delete>

    <insert id="addOne" parameterType="com.example.cloud.model.Pcs">
        insert into pcs (
        pointId,
        equipmentId,
        TotW,
        TotVar,
        PPV_phsAB,
        PPV_phsBC,
        PPV_phsCA,
        PhV_phsA,
        PhV_phsB,
        PhV_phsC,
        A_phsA,
        A_phsB,
        A_phsC,
        TotPF,
        Fre,
        PhV_DC,
        A_DC,
        AbleMaxTotCH,
        AbleMaxToDi,
        CharCapDay,
        DiscCapDay,
        ACSwitchStatus,
        DCSwitchStatus,
        RunStatus,
        CharStatus,
        AccumulatedChargeCap,
        AccumulatedDischargeCap
        )
        values
        (
        #{pointId}, #{equipmentId}, #{totW}, #{totVar}, #{ppvPhsAb}, #{ppvPhsBc}, #{ppvPhsCa},
        #{phVPhsA}, #{phVPhsB}, #{phVPhsC}, #{aPhsA}, #{aPhsB}, #{aPhsC}, #{totPf}, #{fre},
        #{phVDc}, #{aDc}, #{ableMaxTotCh}, #{ableMaxToDi}, #{charCapDay}, #{discCapDay},
        #{acSwitchStatus}, #{dcSwitchStatus}, #{runStatus}, #{charStatus}, #{accumulatedChargeCap},
        #{accumulatedDischargeCap}
        )

    </insert>

</mapper>
