<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.mapper.SubstationMapper">
    <select id="selectSubList" resultType="com.example.cloud.model.Substation">
        select
        id,
        TotW as totW,
        TotVar as totVar,
        CharCapDay as charCapDay,
        DiscCapDay as discCapDay,
        AccumulatedChargeCap as accumulatedChargeCap,
        AccumulatedDischargeCap as accumulatedDischargeCap,
        AccumulatedChargeTime as accumulatedChargeTime,
        AccumulatedDischargeTime as accumulatedDischargeTime,
        DailyCgCnt as dailyCgCnt,
        MonthlyCgCnt as monthlyCgCnt,
        StationStatus as stationStatus,
        SOC as soc,
        AccumulatedRunningTime as accumulatedRunningTime,
        AbleCharCap as ableCharCap,
        AbleDiscCap as ableDiscCap,
        AbleEnergy as ableEnergy,
        AbleDsEnergy as ableDsEnergy,
        OverallEfficiency as overallEfficiency,
        RunningFactor as runningFactor,
        UtilRateInd as utilRateInd,
        StorageScrapRate as storageScrapRate,
        UtilFactor as utilFactor,
        AccumulatedRev as accumulatedRev,
        TodayRev as todayRev,
        YesterdayRev as yesterdayRev,
        MonthlyRev as monthlyRev,
        YearlyRev as yearlyRev,
        equivalentChargeDischargeTime as equivalentChargeDischargeTime,
        latitude,
        longitude,
        operationTime,
        description
        from substation
    </select>

    <insert id="addSub" parameterType="com.example.cloud.model.Substation">
        INSERT INTO substation (
        id,
        TotW,
        TotVar,
        CharCapDay,
        DiscCapDay,
        AccumulatedChargeCap,
        AccumulatedDischargeCap,
        AccumulatedChargeTime,
        AccumulatedDischargeTime,
        DailyCgCnt,
        MonthlyCgCnt,
        StationStatus,
        SOC,
        AccumulatedRunningTime,
        AbleCharCap,
        AbleDiscCap,
        AbleEnergy,
        AbleDsEnergy,
        OverallEfficiency,
        RunningFactor,
        UtilRateInd,
        StorageScrapRate,
        UtilFactor,
        AccumulatedRev,
        TodayRev,
        YesterdayRev,
        MonthlyRev,
        YearlyRev,
        equivalentChargeDischargeTime,
        latitude,
        longitude,

        description
        )
        VALUES (
        #{id}, #{totW}, #{totVar}, #{charCapDay}, #{discCapDay},
        #{accumulatedChargeCap}, #{accumulatedDischargeCap}, #{accumulatedChargeTime}, #{accumulatedDischargeTime}, #{dailyCgCnt},
        #{monthlyCgCnt}, #{stationStatus}, #{soc}, #{accumulatedRunningTime}, #{ableCharCap},
        #{ableDiscCap}, #{ableEnergy}, #{ableDsEnergy}, #{overallEfficiency}, #{runningFactor},
        #{utilRateInd}, #{storageScrapRate}, #{utilFactor}, #{accumulatedRev}, #{todayRev},
        #{yesterdayRev}, #{monthlyRev}, #{yearlyRev}, #{equivalentChargeDischargeTime},
        #{latitude}, #{longitude},  #{description}
        )
    </insert>

    <delete id="delSubById" parameterType="java.lang.Integer">
        delete
        from substation
        where id = #{id}
    </delete>
</mapper>
